fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-huggingface
huggingface-hub
langchain-google-genai
google-generativeai
faiss-cpu
rank-bm25
pypdf
pydantic
sentence-transformers