fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-google-genai
faiss-cpu
rank-bm25
pypdf
pydantic
google.generativeai
os
path
faiss
basemodel
list
load_chain
bm25retriever
huggingfaceembeddings
corsmiddleware
recursivecharactertextsplitter
re
pypdfloader